:root {
    --color-primary: #1800ad;
    --color-navbar-text: grey; 
    --color-me-buttons: #333333;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* ===== NAVIGATION BAR ===== */
#navbar {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 15px 30px; 
    
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.nav-links {
    list-style: none;

    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-links li a {
    color: var(--color-navbar-text);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--color-primary);
}

.nav-theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-navbar-text);

    display: flex;
    align-items: center;
    padding: 0;
}

.nav-theme-btn:hover {
    color: var(--color-primary);
}

/* ===== SECTION: ME ===== */
#section-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 150px;
    padding-top: 80px;
}

#section-me h1 {
    font-size: 56px;
}

.me-links {
    display: flex;
    gap: 12px;
}

.me-buttons {
    padding: 10px;
    background: none;
    border: none;
    color: var(--color-me-buttons);
}

.me-buttons:hover {
    color: var(--color-primary);
}

/* ABOUT */
/* .about-wrapper {
    margin: 100px 200px;
    position: relative;
}

.about-label {
    position: absolute;
    top: -14px;
    left: 20px;
    background: var(--color-primary);
    color: white; /* ou a cor de fundo da página 
    font-size: 13px;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 8px;
}

#about {
    padding: 28px 24px 24px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.about-photo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.about-photo img {
    max-width: 100%;
    height: auto;
}

#about p {
    margin: 0;
    line-height: 1.7;
} */