:root {
    --color-primary: #1800ad;
    --color-navbar-text: grey; 
    --color-me-buttons: #333333;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Outfit";
}

/* ===== NAVIGATION BAR ===== */
#navbar {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 15px 30px; 
    
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.nav-links {
    list-style: none;

    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-links li a {
    color: var(--color-navbar-text);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--color-primary);
}

.nav-theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-navbar-text);

    display: flex;
    align-items: center;
    padding: 0;
}

.nav-theme-btn:hover {
    color: var(--color-primary);
}

/* ===== SECTION: ME ===== */
#section-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 150px;
    padding-top: 80px;
}

#section-me h1 {
    font-size: 56px;
}

.me-links {
    display: flex;
    gap: 12px;
}

.me-buttons {
    padding: 10px;
    background: none;
    border: none;
    color: var(--color-me-buttons);
}

.me-buttons:hover {
    color: var(--color-primary);
}

/* ===== SECTION: ABOUT ME =====*/
#section-about {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 150px;
}

#section-about h2 {
    font-size: 42px;
}

.about-description {
    display: flex;
    gap: 50px;
}

.about-description img {
    height: 200px;
    border-radius: 40px;
}

.about-description p {
    max-width: 70ch;
}

/* ===== SECTION: SKILLS =====*/
#section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-skills h2 {
    font-size: 42px;
}

#section-skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

#section-skills ul li {
    list-style: none;
    background: whitesmoke;
    border-radius: 15px;

    padding: 10px 15px;
}

#section-skills ul li img {
    height: 15px;
}

/* ===== SECTION: PROJECTS =====*/

/* ===== FOOTER =====*/
